body{ 
    background-color: black;
    background-image: url(brim.jpeg);
    background-size: cover;
}
/* Jumnbotron */
.title {
    font-family: 'Rock Salt', cursive;
    color: #fff;
}

.subtitle {
    font-family: 'Rock Salt', cursive;
    color: #fff; 
}

.style {
    opacity: 75%;
    background-color: rgb(61, 58, 58);
}

.formstyle {
    margin-right: 2px;
    width: 60%;
    height: 90%;
   
}


form{
    color: white;
    font-size: x-large;
}
