body{ 
    background-color: #282C34 !important;
}
/* Jumnbotron */
.title {
    font-family: 'Rock Salt', cursive;
    color: #fff;
}

.subtitle {
    font-family: 'Rock Salt', cursive;
    color: #fff; 
}

.style {
    opacity: 75%;
    background-color: rgb(61, 58, 58);
}
form{
    color: white;
    font-size: x-large;
}
.col-sm{
border-top: black;
}
