/* @media all and (min-width: 480px) {
    .Register {
        padding: 60px 0;
    }
    .Register form {
        margin: 0 auto;
        max-width: 320px;
    }
} */

.card-group{
    width: 200% !important;
    border-radius: calc(.25rem - 1px) !important;
    background-color: violet !important;
}
.Card1 {
    width: 50%;
    padding: 40px 30px 10px 30px;
    background-color: violet !important;
}

.Card2 {
    width: 50%;
    padding: 40px 30px 10px 30px
}

form {
    width: 100%;
}