.Modal.Title {
    text-align: center !important;


}

.close { 
    position: absolute; 
    right: 1rem;
  }

.form-control {
    width: 100% !important;
    color: black !important;
  }

.form-label {
  color: black;
}

  :focus {outline:0 !important;}