@media all and (min-width: 480px) {
    .Register {
        padding: 40px 0;
    }
    .Register form {
        margin: 0 auto;
        max-width: 320px;
    }
}

.login{
    color: white;
    font-weight: 900;
    font-family: 'Candal', sans-serif;
}
