a {
    font-family:cursive !important;
}
.navbar {
    background-color: #282c34 !important;
}
.dropdown {
    margin-right: 10px !important;
}
.dropdownlast {
    margin-right: 300px !important;
}

.label {
    color: white;
    margin-right: 10px;
    font-family:cursive !important;
}